.auth-container{
  display:flex;
  min-height:100vh;
  font-family:Poppins;
}

.auth-left{
  width:50%;
  background:#FFF9F1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:40px;
}

.auth-right{
  width:50%;
  background:#F8EAC6;
  padding:60px 80px;
}

@media(max-width:900px){
  .auth-container{flex-direction:column;}
  .auth-left,.auth-right{width:100%;}
}